// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

//fonts
$font-family-sans-serif: 'CBS', 'Helvetica Neue', Arial, sans-serif;

//color
$blue: #496093;
$red: #cd4847;
$green: #5bad6f;
$orange: #e1948d;
$white: #fff;
$black: #000;
$brand-primary: $blue;
$link-color: $blue;
$body-bg: $white;

// spacing
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  6: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
);

//navbar
$navbar-inverse-color: $white;
$navbar-inverse-hover-color: rgba($white,.8);
$navbar-inverse-active-color: rgba($white,.8);
