// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

//color
$blue: #496093;
$red: #cd4847;
$green: #5bad6f;
$orange: #e1948d;
$white: #fff;
$black: #000;
$transparent: transparent;
$inherit: inherit;
$brand-primary: $blue;
$brand-secondary: $white;
$brand-tertiary: $red;
$link-color: $blue;
$square-color-green: $green;
$square-color-orange: $orange;
$square-color-red: $red;
$body-bg: $brand-secondary;

//fonts
$font-size-base: 1rem;
$font-size-sm: .95rem;
$font-size-md: 1.250rem;
$font-size-lg: 1.563rem;
$font-size-xl: 1.875rem;

$font-family-cbs-bold: 'CBS-bold', 'Helvetica Neue', Arial, sans-serif;
$font-family-cbs-regular: 'CBS-regular', 'Helvetica Neue', Arial, sans-serif;

$font-family-base: $font-family-cbs-regular;
$headings-font-family: $font-family-cbs-bold;
$buttons-font-family: $font-family-cbs-regular;

$font-weight-normal: normal;
$font-weight-bold: bold;

$headings-color: $brand-primary;

$font-size-h1: 2.9em;
$font-size-h3: 2.5em;
$font-size-h4: 1.55em;
$font-size-h5: 2.25em;

// $display1-size: 6.063em;
// $display2-size: 1.563em;
// $display1-weight: $font-weight-bold;
// $display2-weight: $font-weight-normal;

$lead-font-size: 1.25em;
$lead-font-weight: 300;

$blockquote-small-color: $brand-secondary;
// $blockquote-font-size: $font-size-xlg;

// grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
);

$cp-default: 15px;
$cp-sm: 35px;
$cp-md: 55px;
$cp-lg: 75px;

// components
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;

$caret-width: .3em !default;

$transition-base: all .6s ease-in-out;

// spacing
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$border-width: 3px;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  6: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
);

//navbar
$navbar-height: 100px;

$navbar-inverse-color: $brand-secondary;
$navbar-inverse-hover-color: rgba($brand-secondary,.8);
$navbar-inverse-active-color: rgba($brand-secondary,.8);
$nav-tabs-border-color: $inherit;
$nav-tabs-border-width: $inherit;
$nav-tabs-border-radius: $inherit;
$nav-tabs-link-hover-border-color: $inherit;
$nav-tabs-active-link-hover-color: none;
$nav-tabs-active-link-hover-bg: $brand-primary;
$nav-tabs-active-link-hover-border-color: $inherit;
$nav-tabs-justified-link-border-color: $inherit;
$nav-tabs-justified-active-link-border-color: $inherit;

// navs
$nav-link-padding: .3rem 1rem;

// breadcrumbs
$breadcrumb-padding-y: 0rem;
$breadcrumb-padding-x: 0rem;
$breadcrumb-item-padding: .5rem;

$breadcrumb-bg: $transparent;
$breadcrumb-divider: '|';

// buttons

$btn-padding-x: .5rem;
$btn-padding-y: .3rem;

$btn-primary-color: $brand-primary;
$btn-primary-bg: $brand-secondary;
$btn-primary-border: $transparent;
$btn-line-height: 1;

$btn-border-radius: 0;

$btn-transition: $transition-base;

// square

$square-logo-border: .625em;
$square-logo-dimension: 10.500em;
$square-logo-border-sm: .313em;
$square-logo-dimension-sm: 5.000em;

$square-border: .625em;
$square-dimension: 20.938em;
$square-heading-border: .625em;
$square-heading-dimension: 8.750em;
$square-portrait-border: .625em;
$square-portrait-dimension: 12.500em;
