@media all and (max-width:353px)
{
    //status
    .status
    {
        font-size: .6rem;
    }
    //status
    .stats
    {
        margin-top: 4%!important;

        .stat
        {
            margin: 2px 0 !important;
            h2
            {
                font-size: 4.4em!important;
            }
            p
            {
                font-size: 1.6em!important;
            }
        }
    }
}
