@media all and (max-width:353px)
{
    //status
    .status
    {
        font-size: .6rem;
    }
    //status
    .stats
    {
        margin-top: 8%!important;

        .stat
        {
            margin: 2px 0 !important;
            h2
            {
                font-size: 4.4em!important;
            }
            p
            {
                font-size: 1.6em!important;
            }
        }
    }
    //quotations
    .quotations
    {
        .blockquote
        {
            padding: .7em 0;
        }
    }
    //footer
    .footer
    {
        height: 7em;
        li
        {
            font-size: .7em;
        }
        .social
        {
            padding: 10px 0;

            .item
            {
                padding: 0 3px;
                svg
                {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
