@media all and (min-width: map-get($grid-breakpoints, sm))
{
    //container
    .container
    {
        padding-right: 35px;
        padding-left: 35px;
    }
    nav
    {
        &.main
        {
            .container
            {
                width: 100%;
                padding-right: 35px;
                padding-left: 35px;
            }
            .navbar-toggler
            {
                right: 1em;
            }
        }
    }
    //hero
    .hero
    {
        font-size: 1em;
    }
    //status
    .status
    {
        font-size: .8rem;
        .container
        {
            width: 100%;
        }
        .text-col
        {
            padding: 2.6em 2.4em;
            p
            {
                font-size: 2.5em;
            }
        }
        .stats
        {
            margin-top: 10%;
            .stat
            {
                margin: 10px 0;
                h2
                {
                    font-size: 5.2em;
                }
                p
                {
                    font-size: 1.4em;
                }
            }
        }
    }
    //programmes
    .programmes
    {
        font-size: .8rem;

        .partner
        {
            padding-right: 2%;
            padding-left: 2%;
        }
    }
    //quotations
    .quotations
    {
        font-size: .8rem;
        .container
        {
            width: 100%;
        }
        .blockquote
        {
            font-size: 2.2em;


            .blockquote-footer
            {
                font-size: .8em;
            }
        }
    }
    //partners
    .partners
    {
        font-size: .8rem;

        .partner
        {
            padding-right: 2%;
            padding-left: 2%;
        }
    }
    //footer
    .footer
    {
        font-size: .8rem;
        .row
        {
            flex-direction: row;
        }
        li
        {
            font-size: 1.1em;
        }
        .social
        {
            img
            {
                width: 20px;
                height: 20px;
            }
        }
    }
}
