@media all and (max-width:353px)
{
    //Navs
    nav
    {
        &.secondary
        {
            font-size: .6rem;
            .checkbox
            {
                p
                {
                    font-size: .53em;

                    padding-left: 2.2em;
                    &::before
                    {
                        top: 0;
                        left: 0;

                        width: 1.8em;
                        height: 1.8em;
                    }
                }
                &.active p:after,
                &.active-h p:after,
                p:after
                {
                    top: 0;
                    left: 0;

                    width: 1.8em;
                    height: 1.8em;
                }
            }
            &.sticky
            {
                .checkbox
                {
                    p
                    {
                        font-size: .53em;
                        &::after
                        {
                            top: 0;
                            left: 0;

                            width: 1.8em;
                            height: 1.8em;
                        }
                        &::before
                        {
                            width: 1.8em;
                            height: 1.8em;
                        }
                    }
                }
            }
        }
    }
    //status
    .status
    {
        font-size: .6rem;
    }
    //status
    .stats
    {
        margin-top: 8%!important;

        .stat
        {
            margin: 2px 0 !important;
            h2
            {
                font-size: 4.4em!important;
            }
            p
            {
                font-size: 1.6em!important;
            }
        }
    }
    //quotations
    .quotations
    {
        .blockquote
        {
            padding: .7em 0;
        }
    }
    //about programs
    .about-programs
    {
        .text
        {
            p
            {
                font-size: 1.5em;
            }
        }
    }
    //footer
    .footer
    {
        height: 7em;
        li
        {
            font-size: .7em;
        }
        .social
        {
            padding: 10px 0;

            .item
            {
                padding: 0 3px;
                svg
                {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
