@media all and (min-width: map-get($grid-breakpoints, xl))
{
    .container
    {
        width: 1250px;
        margin-right: auto;
        margin-left: auto;
        &.container-100
        {
            width: 1250px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    nav
    {
        &.secondary
        {
            font-size: 1.2rem;
            .checkbox
            {
                p
                {
                    line-height: 19px;
                }
            }
        }
    }
    //status
    .status
    {
        .text-col
        {
            padding: 0;
            p
            {
                font-size: 1.6em;

                top: 10%;

                width: 26.250em;
                padding: 40px 15px;
            }
        }
        .container:nth-child(1)
        {
            padding-right: 75px;
            padding-left: 75px;
        }
        .container:nth-child(2)
        {
            width: 1250px;
            margin-right: auto;
            margin-left: auto;
            padding-right: 210px;
            padding-left: 210px;
        }
        p
        {
            letter-spacing: .5px;
        }

        .square
        {
            top: -200px;
            left: 70px;
            .side-b,
            .side-l,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-red;
            }

            .side-l
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }


            .side-r
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 9.120em;
            }

            .side-rr
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 22.500em;
            }

            .side-b
            {
                right: calc( ( #{$square-dimension} - 9.000em )  );
                bottom: 0;

                min-width: 0;
                max-width: 9.000em;
                height: $square-border;
            }
        }
    }
    //quotations
    .quotations
    {
        font-size: .8rem;
        .square
        {
            &.left
            {
                top: 40%;
                left: -5%;

                .side-b,
                .side-l,
                .side-t,
                .side-rt,
                .side-rb
                {
                    position: absolute;

                    width: 0;
                    height: 0;

                    background: transparent;
                    background-color: $square-color-green;
                }
                .side-l
                {
                    bottom: 0;
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: $square-dimension;
                }

                .side-t
                {
                    top: 0;
                    left: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }


                .side-rt
                {
                    top: 0;
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 3em;
                }

                .side-rb
                {
                    top: calc( ( #{$square-dimension} - 8.5em )  );
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 8.5em;
                }

                .side-b
                {
                    right: 0;
                    bottom: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }
            }
            &.right
            {
                top: -30%;
                right: -5%;

                .side-b,
                .side-lb,
                .side-lt,
                .side-t,
                .side-r
                {
                    position: absolute;

                    width: 0;
                    height: 0;

                    background: transparent;
                    background-color: $square-color-orange;
                }

                .side-lb
                {
                    bottom: 0;
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 3em;
                }

                .side-lt
                {
                    bottom: calc( ( #{$square-dimension} - 8.5em )  );
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 8.5em;;
                }

                .side-t
                {
                    top: 0;
                    left: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }


                .side-r
                {
                    top: 0;
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: $square-dimension;
                }

                .side-b
                {
                    right: 0;
                    bottom: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }
            }
        }
    }
    //partners
    .partners
    {
        .square
        {
            top: -25%;
            right: -5%;

            .side-b,
            .side-lt,
            .side-lb,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $brand-primary;
            }

            .side-lt
            {
                bottom: calc( ( #{$square-dimension} - 110px )  );
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 110px;;
            }

            .side-lb
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 100px;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }


            .side-r
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
    }
    //about programs
    .about-programs
    {
        font-size: 1.2rem;

        .text
        {
            p
            {
                font-size: 1.1em;
            }
        }
    }
    //proof program
    .proof-program
    {
        .square
        {
            top: 0;
            right: -10%;

            .side-b,
            .side-lt,
            .side-lb,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-red;
            }

            .side-lt
            {
                bottom: calc( ( #{$square-dimension} - 3em )  );
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 3em;
            }

            .side-lb
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 3em;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }


            .side-r
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
        .container
        {
            padding-right: $cp-lg;
            padding-left: $cp-lg;
        }
        .top
        {
            .description
            {
                font-size: 1.4em;

                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .bottom
        {
            .proofs
            {
                padding-right: 15px;
                padding-left: 15px;
                .item
                {
                    padding: 3px 100px 3px 15px;
                    .title
                    {
                        font-size: .8em;

                        position: relative;
                        right: 50px;

                        span
                        {
                            left: -20px;

                            display: inline-block;
                        }
                    }
                }
            }
            .get-started
            {
                font-size: 1.1em;

                padding: 3em 0 0 7em;

                color: inherit;
                background-color: $brand-secondary;
                h4
                {
                    color: $brand-primary;
                }
            }
            .button
            {
                padding: 2.2em 0;

                background-color: inherit;

                .btn
                {
                    color: $brand-secondary;
                    border-color: $brand-primary;
                    background-color: $brand-primary;
                }
            }
        }
    }
    //accelerator program
    .accelerator-program
    {
        .square
        {
            z-index: -1;
            &.left
            {
                top: 27%;
                left: -35%;

                .side-b,
                .side-l,
                .side-t,
                .side-rt,
                .side-rb
                {
                    position: absolute;

                    width: 0;
                    height: 0;

                    background: transparent;
                    background-color: $square-color-green;
                }

                .side-l
                {
                    bottom: 0;
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: $square-dimension;
                }

                .side-t
                {
                    top: 0;
                    left: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }

                .side-rt
                {
                    top: 0;
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 40px;
                }

                .side-rb
                {
                    top: calc( ( #{$square-dimension} - 40px )  );
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 40px;
                }

                .side-b
                {
                    right: 0;
                    bottom: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }
            }
            &.right
            {
                top: 32%;
                right: -39%;

                .side-b,
                .side-lb,
                .side-lt,
                .side-t,
                .side-r
                {
                    position: absolute;

                    width: 0;
                    height: 0;

                    background: transparent;
                    background-color: $brand-primary;
                }

                .side-lb
                {
                    bottom: 0;
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 40px;
                }

                .side-lt
                {
                    bottom: calc( ( #{$square-dimension} - 40px )  );
                    left: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: 40px;;
                }

                .side-t
                {
                    top: 0;
                    left: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }

                .side-r
                {
                    top: 0;
                    right: 0;

                    width: $square-border;
                    min-height: 0;
                    max-height: $square-dimension;
                }

                .side-b
                {
                    right: 0;
                    bottom: 0;

                    min-width: 0;
                    max-width: $square-dimension;
                    height: $square-border;
                }
            }
        }
        .item
        {
            padding: 10px 20px;
        }
        .item:nth-child(2)
        {
            margin-top: 100px;
        }
    }
    //match up
    .match-up
    {
        .container
        {
            padding-right: 0;
            padding-left: 0;

            background-color: transparent;
        }
        .media
        {
            padding-top: 140px;

                    clip-path: none;
            -webkit-clip-path: none;
                -ms-clip-path: none;
        }
        .info
        {
            padding-right: 15px;
            h4,
            p,
            a
            {
                position: relative;

                width: 100%;

                color: $brand-primary;
            }
            p
            {
                color: inherit;
            }
        }
        .square
        {
            top: 20%;
            right: 71%;

            .side-b,
            .side-l,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-purple;
            }

            .side-l
            {
                top: calc( ( #{$square-dimension} - 180px )  );
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 180px;;
            }

            .side-t
            {
                top: 0;
                right: 0;

                min-width: 0;
                max-width: 180px;
                height: $square-border;;
            }


            .side-r
            {
                right: 0;
                bottom: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-b
            {
                bottom: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
    }
    //inteernship with ects
    .internship-with-ects
    {
        background-color: inherit;
        .container
        {
            height: 750px;

            background-color: inherit;

                    clip-path: none;
            -webkit-clip-path: none;
                -ms-clip-path: none;
        }
        .square
        {
            top: 18%;
            right: 67%;

            .side-b,
            .side-l,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-orange;
            }

            .side-l
            {
                bottom: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;

                righ: 0;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: 150px;
                height: $square-border;
            }


            .side-r
            {
                top: calc( ( #{$square-dimension} - 150px )  );
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 150px;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
    }
    //footer
    .footer
    {
        background-color: $brand-secondary;
        ol
        {
            .breadcrumb-item::before
            {
                color: $brand-primary;
            }
        }
        li
        {
            color: $brand-primary;
        }
        .social
        {
            .item
            {
                .facebook,
                .twitter,
                .instagram
                {
                    stroke: $brand-primary;
                }
                .rectangle
                {
                    color: $brand-primary;
                }
            }
        }
        .logo
        {
            path
            {
                fill: $brand-primary;
            }
            polygon
            {
                fill: $brand-primary;
                &.backdrop
                {
                    fill: $brand-secondary;
                }
            }
        }
    }
}
