@media all and (min-width: map-get($grid-breakpoints, sm))
{
    //container
    .container
    {
        padding-right: $cp-sm;
        padding-left: $cp-sm;
        &.container-100
        {
            width: 100%;
        }
    }

    nav
    {
        &.main
        {
            .navbar-toggler
            {
                right: 1em;
            }
            &.navbar-toggleable-sm > .container
            {
                padding-right: $cp-sm;
                padding-left: $cp-sm;
            }
        }
        &.secondary
        {
            font-size: .8rem;
        }
    }
    //hero
    .hero
    {
        font-size: 1em;
    }
    //status
    .status
    {
        font-size: .8rem;

        .text-col
        {
            padding: 2.6em 2.4em;
            p
            {
                font-size: 2.5em;
            }
        }
        .stats
        {
            margin-top: 10%;
            .stat
            {
                margin: 10px 0;
                h2
                {
                    font-size: 5.2em;
                }
                p
                {
                    font-size: 1.4em;
                }
            }
        }
    }
    //programmes
    .programmes
    {
        font-size: .8rem;

        .partner
        {
            padding-right: 2%;
            padding-left: 2%;
        }
    }
    //quotations
    .quotations
    {
        font-size: .8rem;

        .blockquote
        {
            font-size: 2.2em;


            .blockquote-footer
            {
                font-size: .8em;
            }
        }
    }
    //partners
    .partners
    {
        font-size: .8rem;

        .partner
        {
            padding-right: 2%;
            padding-left: 2%;
        }
    }
    //about programs
    .about-programs
    {
        font-size: .8rem;
        .text
        {
            padding: 40px;
            p
            {
                font-size: 2em;
            }
        }
    }
    //proof program
    .proof-program
    {
        font-size: .7rem;
        .description
        {
            font-size: 1.8em;
        }
        .square-title
        {
            width: 300px;
        }
        .proofs
        {
            .item
            {
                font-size: 1.8em;

                padding: 8px 15px;
                .title
                {
                    h5
                    {
                        position: relative;
                        right: 1.1em;
                    }

                    span
                    {
                        position: relative;
                        right: 0;

                        display: block;

                        padding-left: 0;
                    }
                    .svg-container
                    {
                        position: relative;
                        right: 0;

                        width: 5.5em;
                    }
                }
            }
        }
        .get-started
        {
            padding: 15px 0;

            background-color: $brand-primary;
        }
    }
    //footer
    .footer
    {
        font-size: .8rem;

        height: 4em;

        .row
        {
            flex-direction: row;
        }
        ol
        {
            margin-top: 0;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: 0;
        }
        li
        {
            font-size: 1.1em;
        }
        .social
        {
            padding: 0;

            .items
            {
                margin: inherit;
            }
            .item
            {
                padding: 0;
                svg
                {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
