//fonts
@include font-face('CBS-regular', 'CBS_NEW_REGULAR', 'CBS-typografier');
@include font-face('CBS-bold', 'CBS_NEW_BOLD', 'CBS-typografier');

//typography
h1,
h2,
h3,
h4,
h5,
h6,
a,
button
{
    text-transform: uppercase;
}
.lead
{
    font-family: $font-family-cbs-bold ;
}

//utilities
.blockquote
{
    font-family: $font-family-cbs-bold;

    quotes: '“' '”' '‘' '’';

    color: $brand-secondary;
    border: none;
    .before
    {
        &::before
        {
            font-size: 1em;
            line-height: .2em;

            margin-right: .1em;

            content: open-quote;
        }
    }
    .after
    {
        &::after
        {
            font-size: 2.5em;
            line-height: .1em;

            content: close-quote;
            vertical-align: -.35em;
        }
    }
    footer
    {
        font-family: $font-family-cbs-regular;
        font-size: $font-size-lg;
        &::before
        {
            content: '\2011 \00A0';
        }
    }
}

.btn-primary
{
    font-family: $buttons-font-family;
    font-size: $font-size-lg;

    position: relative;

    display: inline-block;

    cursor: pointer;

    color: $brand-secondary;
    background-color: $brand-primary;
    &.apply
    {
        color: $brand-primary!important;
        background-color: $brand-secondary;
    }
    &::before,
    &::after
    {
        position: absolute;
        z-index: -1;

        width: calc(100% + 8px);
        height: calc(100% + 8px);

        content: '';
        -webkit-transition: $transition-base;
                transition: $transition-base;;
    }
    &.apply::before,
    &.apply::after
    {
        width: 100%;
        height: 100%;
    }
    &::before
    {
        top: -12px;
        right: -12px;

        border: $border-width solid $brand-primary;
        background-color: $brand-secondary;
    }
    &.apply:before
    {
        border: $border-width solid $brand-secondary;
        background-color: $brand-primary;
    }
    &:hover
    {
        color: $brand-primary;
        border: $border-width solid $brand-primary;
        background-color: $brand-secondary;
        &::before
        {
            border: $border-width solid $brand-primary;
            background-color: $brand-primary;
        }
    }
    &.apply:hover
    {
        color: $brand-secondary!important;
        border: $border-width solid $brand-secondary;
        background-color: $brand-primary;
        &::before
        {
            border: $border-width solid $brand-secondary;
            background-color: $brand-secondary;
        }
    }
}

//navbar
.navbar
{
    z-index: 1;

    height: 150px;
    a
    {
        font-size: $font-size-lg;
    }
}

//hero
.hero
{
    height: calc(100vh - 380px);
}

//status
.status
{
    p
    {
        color: $brand-primary;
    }
}

//quotations
.quotations
{
    height: 380px;
}
//programmes
.programmes
{
    height: 450px;
}

//partners
.partners
{
    height: 450px;
}

//footer
.footer
{
    height: 150px;
    li
    {
        font-size: $font-size-md;
    }
}
