//fonts
@include font-face('CBS-regular', 'CBS_NEW_REGULAR', 'CBS-typografier');
@include font-face('CBS-bold', 'CBS_NEW_BOLD', 'CBS-typografier');
//preloader
.no-js #loader
{
    display: none;
}
.js #loader
{
    position: absolute; top: 0; left: 100px;

    display: block;
}
.se-pre-con
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(../assets/image/preloader.svg) center no-repeat $brand-primary;
}
//container
.container
{
    margin-right: inherit;
    margin-left: inherit;
    padding-right: $cp-default;
    padding-left: $cp-default;
}
//SECTIONS
//section-media
.s-media
{
    font-size: .7rem;
    .container
    {
        width: 100%;
        padding-right: 0;
        padding-left: 0;

        background-color: $brand-primary;
    }
    .info
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        &.text-left
        {
            padding: 15px;
        }
        h4,
        p,
        a
        {
            position: relative;

            width: 100%;

            color: $brand-secondary;
        }
    }
}

//fullpageJS horizontal scroll
.fullpage
{
    position: relative;

    overflow: hidden;
}

//typography
h1,
h2,
h3,
h6,
a
{
    text-transform: uppercase;
}
h3
{
    font-weight: $font-weight-bold;

    color: $brand-tertiary;
}
h5
{
    font-weight: $font-weight-bold;

    color: $brand-tertiary;
}
img
{
    width: 100%;
    height: 100%;
}
p
{
    font-size: 1.250rem;
    line-height: 115%;
}

h4
{
    margin-bottom: .7em;
}
.text-link
{
    font-family: $font-family-cbs-bold;
    font-size: 1.250em;

    text-decoration: underline;
    text-transform: none;
}
.inline-span
{
    font-family: $font-family-cbs-bold;
    font-size: 1.3em;

    color: $brand-primary;
}
.lead
{
    font-family: $font-family-cbs-bold ;
}
.bold
{
    font-family: $font-family-cbs-bold;
}
.square-title
{
    &.large
    {
        width: 250px;
    }
    &.small
    {
        width: 90px;
        padding-bottom: 15px;
    }
}
.showcase-logo
{
    svg
    {
        width: 110%;
    }
}
.list-inline
{
    .text
    {
        font-size: 1.250em;
    }
}
//utilities
.blockquote
{
    font-size: 1rem;

    border: none;
    .small
    {
        font-family: $font-family-cbs-bold;
        font-size: 1em;

        color: $brand-secondary;

        &.before
        {
            &::before
            {
                font-size: 1em;
                line-height: .2em;

                margin-right: .1em;

                content: '\201C';

                color: inherit;
            }
        }
        &.after
        {
            &::after
            {
                font-size: 1em;
                line-height: .1em;

                content: '\201D';
            }
        }
    }
    .large
    {
        font-family: $font-family-cbs-regular;
        font-size: 1.250em;
        line-height: 1.4;

        color: inherit;
        &.before
        {
            &::before
            {
                font-size: 4em;
                line-height: 0;

                position: relative;
                top: 30px;
                right: 2px;

                display: inline;

                height: 0;

                content: '\201C';

                color: $brand-primary;
            }
        }
        &.after
        {
            &::after
            {
                font-size: 4em;
                line-height: 0;

                position: relative;
                top: 30px;
                left: 2px;

                display: inline;

                height: 0;

                content: '\201D';

                color: $brand-primary;
            }
        }
    }

    footer
    {
        font-family: $font-family-cbs-regular;
        font-size: $font-size-lg;
        &::before
        {
            content: '\2011 \00A0';
        }
    }
}

.btn-primary
{
    font-family: $buttons-font-family;
    font-size: 1.563em;

    position: relative;

    display: inline-block;

    cursor: pointer;
    vertical-align: text-bottom;
    text-transform: uppercase;

    border-width: 2px;
    & span
    {
        position: absolute;
        z-index: -1;
        top: -10px;
        right: -10px;

        width: 100%;
        height: 100%;

        content: '';
        -webkit-transition: $transition-base;
           -moz-transition: $transition-base;
             -o-transition: $transition-base;
                transition: $transition-base;
    }

    &.dark
    {
        color: $brand-secondary;
        border-width: $border-width;
        background-color: $brand-primary;
        & span
        {
            border: $border-width solid $brand-primary;
            background-color: $brand-secondary;
        }
    }
    &.light
    {
        color: $brand-primary ;
        border-width: $border-width;
        border-color: $brand-primary;
        background-color: $brand-secondary;
        & span
        {
            border: $border-width solid $brand-primary;
            background-color: $brand-secondary;
        }
    }
}
.btn-secondary
{
    font-family: $buttons-font-family;
    font-size: 1.250em;

    position: relative;

    display: inline-block;

    width: auto;

    cursor: pointer;

    color: $brand-primary;
    border-width: $border-width;
    border-color: $brand-primary;
    background-color: $brand-secondary;
    &.active
    {
        color: $brand-secondary!important;
        border-color: $brand-primary!important;
        background-color: $brand-primary!important;
    }
}
.overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .6;
    background-color: #313c5d;
}
.img-fit
{
    object-fit: cover;
    &.center
    {
        object-position: center;
    }
    &.top
    {
        object-position: top;
    }
    &.left
    {
        object-position: left;
    }
    &.right
    {
        object-position: right;
    }
}
//Navs
nav
{
    &.main
    {
        z-index: 4;

        height: $navbar-height;

        &.navbar-toggleable-sm > .container
        {
            padding-right: $cp-default;
            padding-left: $cp-default;
        }
        a
        {
            font-size: $font-size-md;
        }
        .nav-link
        {
            color: $brand-secondary;
            &.active
            {
                // font-weight: bold;
                font-family: $font-family-cbs-bold;
            }
        }
        .apply
        {
            .btn-primary
            {
                font-size: $font-size-md;

                color: $brand-primary;
                background-color: $brand-secondary;
                span
                {
                    border: $border-width solid $brand-secondary;
                    background-color: $transparent;
                }
            }
        }
    }
    &.secondary
    {
        font-size: .7rem;

        z-index: 2;
        top: 100px;

        background-color: $brand-secondary;
        .nav-link:first-child
        {
            padding-left: 0!important;
        }
        .checkbox
        {
            p
            {
                font-size: .62em;
                line-height: 12px;

                position: relative;

                display: inline-block;

                margin-bottom: 0;
                padding-left: 2em;

                cursor: pointer;
                &::before
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 1.3em;
                    height: 1.3em;

                    content: '';

                    border: 1px solid $brand-primary;
                    background: $transparent;
                }
                &::after
                {
                    -webkit-transform: scale(0);
                       -moz-transform: scale(0);
                        -ms-transform: scale(0);
                         -o-transform: scale(0);
                            transform: scale(0);

                    opacity: 0;
                }
            }
            &.active p:after,
            &.active-h p:after,
            p:after
            {
                position: absolute;
                top: 0;
                left: 0;

                width: 1.3em;
                height: 1.3em;

                content: '';
                -webkit-transition: all .2s ease;
                   -moz-transition: all .2s ease;
                     -o-transition: all .2s ease;
                        transition: all .2s ease;

                background: $brand-primary;
            }
            &.active p:after,
            &.active-h p:after
            {
                -webkit-transform: scale(1);
                   -moz-transform: scale(1);
                    -ms-transform: scale(1);
                     -o-transform: scale(1);
                        transform: scale(1);

                opacity: 1;
            }
        }
    }
    &.fixed-top
    {
        position: fixed;
    }
}

//hero
.hero
{
    font-size: .7rem;
    .items
    {
        .cse-hero
        {
            padding-right: 1.250em;
            padding-left: 1.250em;
            .cse
            {
                width: 6em;
            }
        }
        .typewriter
        {
            font-size: 2.250em;
            line-height: 1;

            position: relative;

            color: $brand-secondary;
        }
        .cbs-hero
        {
            width: 5.813em;
        }
    }
}

//status
.status
{
    font-size: .7rem;
    .fp-tableCell
    {
        vertical-align: top;
    }
    .container
    {
        margin: 0;
        padding: 0;
    }
    .text-col
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 1.6em 1.3em;
        p
        {
            font-family: 'CBS-regular', 'Helvetica Neue', Arial, sans-serif;
            font-size: 1.8em;

            position: absolute;
            z-index: 2;

            color: $brand-secondary;
        }
    }
    .stats
    {
        margin-top: 9%;
        .stat
        {
            margin: 4px 0;
            h2
            {
                font-size: 5.5em;
                font-weight: bold;
                &.sign::after
                {
                    position: absolute;

                    content: '+';
                }
            }
            p
            {
                font-size: 1.6em;
                font-weight: bold;
                line-height: 90%;

                color: $brand-primary;
            }
        }
    }

    .square
    {
        top: 42%;
        // left: 5%;
        .side-b,
        .side-l,
        .side-t,
        .side-r
        {
            position: absolute;

            width: 0;
            height: 0;

            background: transparent;
            background-color: $square-color-red;
        }

        .side-l
        {
            bottom: 0;
            left: 0;

            width: $square-border;
            min-height: 0;
            max-height: $square-dimension;
        }

        .side-t
        {
            top: 0;
            left: 0;

            min-width: 0;
            max-width: $square-dimension;
            height: $square-border;
        }


        .side-r
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: 10.000em;
        }

        .side-rr
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: 22.500em;
        }

        .side-b
        {
            right: calc( ( #{$square-dimension} - 10.000em )  );
            bottom: 0;

            min-width: 0;
            max-width: 10.000em;
            height: $square-border;
        }
    }
}

//programmes
.programmes
{
    font-size: .7rem;
}
//quotations
.quotations
{
    font-size: .7rem;

    background-color: $brand-primary;

    .blockquote
    {
        font-size: 2em;

        padding: 1.2em 0;
        .blockquote-footer
        {
            font-size: .7em;
        }
        span
        {
            display: block;
        }
    }
}

//partners
.partners
{
    font-size: .7rem;

    .partner
    {
        padding-right: 1%;
        padding-left: 1%;
    }
}

//footer
.footer
{
    font-size: .7rem;

    height: 10em;

    background-color: $brand-primary;
    .row
    {
        flex-direction: column-reverse;
    }
    ol
    {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        .breadcrumb-item::before
        {
            color: $brand-secondary;
        }
    }
    li
    {
        font-size: 1em;
        line-height: 170%;

        color: $brand-secondary;
    }
    .social
    {
        height: 6.5em;
        padding-bottom: 10px;
        .item
        {
            cursor: pointer;
            svg
            {
                width: 45px;
                height: 45px;
            }
            .facebook,
            .twitter,
            .instagram
            {
                stroke: $brand-secondary;
                .shape,
                .rectangle
                {
                    -webkit-transition: all 1s;
                       -moz-transition: all 1s;
                         -o-transition: all 1s;
                            transition: all 1s;

                    fill: $brand-primary;
                }
            }
        }
        .item:hover
        {
            .facebook,
            .twitter,
            .instagram
            {
                .rectangle
                {
                    fill: $brand-secondary;
                    &.inner
                    {
                        fill: $brand-secondary;
                    }
                }
            }
        }
        .items
        {
            margin: 0 auto;
        }
    }
    .logo
    {
        path
        {
            fill: $brand-secondary;
        }
        polygon
        {
            fill: $brand-secondary;
            &.backdrop
            {
                fill: $brand-primary;
            }
        }
    }
}

//square
.square
{
    position: absolute;

    width: $square-dimension;
    height: $square-dimension;

    background: $transparent;
    &.logo
    {
        position: relative;
        top: 0;
        left: 0;

        width: $square-logo-dimension;
        height: $square-logo-dimension;

        background: $transparent;

        .side-b,
        .side-t,
        .side-l,
        .side-r
        {
            position: absolute;

            width: 0;
            height: 0;

            background: transparent;
            background-color: $brand-secondary;
        }

        .side-b
        {
            right: calc( ( #{$square-logo-dimension} - 3.750em )  );
            bottom: 0;

            min-width: 0;
            max-width: 3.125em;
            height: $square-logo-border;
        }

        .side-l
        {
            bottom: 0;
            left: 0;

            width: $square-logo-border;
            min-height: 0;
            max-height: $square-logo-dimension;
        }

        .side-t
        {
            top: 0;
            left: 0;

            max-width: $square-logo-dimension;
            height: $square-logo-border;

            mix-width: 0;
        }

        .side-r
        {
            top: 0;
            right: 0;

            width: $square-logo-border;
            min-height: 0;
            max-height: 5.625em;
        }
    }
}
.square-heading
{
    position: relative;
    top: 20%;
    left: -20%;

    width: $square-heading-dimension;
    height: $square-heading-dimension;

    background: $transparent;

    .side-b,
    .side-t,
    .side-l,
    .side-r
    {
        position: absolute;

        width: 0;
        height: 0;

        background: transparent;
        background-color: $brand-primary;
    }

    .side-l
    {
        bottom: 0;
        left: 0;

        width: $square-heading-border;
        height: $square-heading-dimension;
    }

    .side-t
    {
        top: 0;
        left: 0;

        width: $square-heading-dimension;
        height: $square-heading-border;
    }

    .side-r
    {
        top: 0;
        right: 0;

        width: $square-heading-border;
        height: 80px;
    }

    .side-b
    {
        bottom: 0;
        left: 0;

        width: 50px;
        height: $square-heading-border;
    }
}
.square-portrait
{
    position: absolute;

    width: $square-portrait-dimension;
    height: $square-portrait-dimension;

    background: $transparent;

    .side-b,
    .side-t,
    .side-l,
    .side-r
    {
        position: absolute;

        width: 0;
        height: 0;

        background: transparent;
        background-color: $brand-primary;
    }
}

//about programmes
.about-page
{
    font-size: .7rem;

    position: relative;

    margin-top: 133px;
    .media
    {
        height: calc(100vh - 133px);
        //CSE Proof Plan
        #cse-proof-plan
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            .text
            {
                font-family: $font-family-cbs-bold;
            }
            .line
            {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                &.active
                {
                    -webkit-animation: dash linear alternate forwards;
                       -moz-animation: dash linear alternate forwards;
                         -o-animation: dash linear alternate forwards;
                            animation: dash linear alternate forwards;
                }
                @keyframes dash
                {
                    from
                    {
                        stroke-dashoffset: 1000;
                    }
                    to
                    {
                        stroke-dashoffset: 0;
                    }
                }
                @-webkit-keyframes dash
                {
                    from
                    {
                        stroke-dashoffset: 1000;
                    }
                    to
                    {
                        stroke-dashoffset: 0;
                    }
                }
            }
            .cloud
            {
                &.c1
                {
                    z-index: 100;
                    top: 80px;

                    -webkit-animation: move 380s linear infinite;
                       -moz-animation: move 380s linear infinite;
                         -o-animation: move 380s linear infinite;
                            animation: move 380s linear infinite;
                }
                &.c2
                {
                    z-index: 200;
                    top: 240px;

                    -webkit-animation: move 140s linear infinite backwards;
                       -moz-animation: move 140s linear infinite backwards;
                         -o-animation: move 140s linear infinite backwards;
                            animation: move 140s linear infinite backwards;
                }
                @-webkit-keyframes move
                {
                    from
                    {
                        -webkit-transform: translateX(0);
                    }
                    to
                    {
                        -webkit-transform: translateX(1150px);
                    }
                }
            }
            .bubble
            {
                opacity: 0;
                &.active
                {
                    -webkit-animation: bubble-light ease forwards;
                       -moz-animation: bubble-light ease forwards;
                         -o-animation: bubble-light ease forwards;
                            animation: bubble-light ease forwards;
                }
                @keyframes bubble-light
                {
                    0%
                    {
                        transform: 'scale(0.5)';

                        fill: transparent;
                    }
                    20%
                    {
                        transform: 'scale(0.5)';

                        fill: #f26c65;
                    }
                    100%
                    {
                        fill: #595e7c;
                    }
                }
            }
        }
    }
    .text
    {
        height: auto;
        padding: 20px;

        color: $brand-primary;

        p
        {
            font-size: 2em;
            font-style: italic;

            color: $brand-primary;
        }
    }
    .overlay-container
    {
        position: relative;

        -webkit-transition: all .6s ease;
           -moz-transition: all .6s ease;
             -o-transition: all .6s ease;
                transition: all .6s ease;

        opacity: 0;
        &.left
        {
            left: -80px;
        }
        &.right
        {
            right: -80px;
        }
    }
    .overlay-transform
    {
        position: absolute;
        z-index: 1;
        top: 0;

        width: 100%;
        height: 100%;

        background-color: $brand-primary;

        backface-visibility: hidden;
        &.left
        {
            left: -80px;
        }
        &.right
        {
            right: -80px;
        }
    }
    .logo
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: $square-logo-dimension-sm;
        height: $square-logo-dimension-sm;
        margin-top: calc( -#{$square-logo-dimension-sm} /2);
        margin-left: calc( -#{$square-logo-dimension-sm} /2);
        .square
        {
            position: relative;
            top: 0;
            left: 0;

            width: $square-logo-dimension-sm;
            height: $square-logo-dimension-sm;

            background: $transparent;

            .side-b,
            .side-t,
            .side-l,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $brand-primary;
            }

            .side-b
            {
                right: calc( ( #{$square-logo-dimension-sm} - 33px )  );
                bottom: 0;

                min-width: 0;
                max-width: 33px;
                height: $square-logo-border-sm;
            }

            .side-l
            {
                bottom: 0;
                left: 0;

                width: $square-logo-border-sm;
                min-height: 0;
                max-height: $square-logo-dimension-sm;
            }

            .side-t
            {
                top: 0;
                left: 0;

                max-width: $square-logo-dimension-sm;
                height: $square-logo-border-sm;

                mix-width: 0;
            }

            .side-r
            {
                top: 0;
                right: 0;

                width: $square-logo-border-sm;
                min-height: 0;
                max-height: 50px;
            }
        }
        .cse
        {
            width: 55px;
            #cse-hero
            {
                fill: $brand-primary;
            }
        }
    }
}

//proof program
.proof-program
{
    font-size: .7rem;
    .top
    {
        padding-top: 35px;
        padding-bottom: 35px;

        background-color: $brand-primary;
        p,
        a
        {
            color: $brand-secondary;
        }
        .square-title
        {
            #square
            {
                fill: $brand-secondary;
            }
        }
        .description
        {
            font-size: 1.8em;
        }
    }
    .bottom
    {
        .proofs
        {
            padding-top: 25px;
            padding-bottom: 25px;
            .arrow
            {
                display: none;
            }
            .emphty
            {
                display: none;
            }
            .item
            {
                font-size: 1.4em;

                padding: 8px 15px;
                .title
                {
                    h5
                    {
                        position: relative;
                        right: 1.1em;
                    }

                    span
                    {
                        position: relative;

                        display: block;
                    }
                    .svg-container
                    {
                        position: relative;
                        right: 0;

                        width: 5.5em;
                    }
                }
            }
        }
        .get-started
        {
            font-size: 1.5em;

            padding: 1.8em 2em 0 2em;

            color: $brand-secondary;
            background-color: $brand-primary;

            h4
            {
                color: $brand-secondary;
            }
        }
        .button
        {
            padding: .5em 0 2.2em 0;

            background-color: $brand-primary;

            .btn
            {
                color: $brand-primary;
                border-color: $brand-secondary;
                background-color: $brand-secondary;
            }
        }
    }
}

//accelerator program
.accelerator-program
{
    font-size: .7rem;
    .item
    {
        padding-bottom: 40px;
        .logo
        {
            padding: 15px 0;
            .svg-container
            {
                width: 65%;
            }
        }
        .info
        {
            font-size: 1.8em;
            h4
            {
                margin-bottom: 15px;
            }
        }
    }
}

//Inteernship With Ects
.internship-with-ects
{
    font-size: .7rem;

    .info
    {
        font-size: .9em;

        padding: 25px 0;
    }
}

//Job Openings
.job-openings
{
    height: 500px;
    .square
    {
        top: -30%;
        right: 70%;

        .side-b,
        .side-l,
        .side-t,
        .side-r
        {
            position: absolute;

            width: 0;
            height: 0;

            background: transparent;
            background-color: $square-color-orange;
        }

        .side-l
        {
            bottom: 0;
            left: 0;

            width: $square-border;
            min-height: 0;
            max-height: $square-dimension;
        }

        .side-t
        {
            top: 0;
            left: 0;

            min-width: 0;
            max-width: $square-dimension;
            height: $square-border;
        }


        .side-r
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: 150px;
        }

        .side-b
        {
            right: calc( ( #{$square-dimension} - 150px )  );
            bottom: 0;

            min-width: 0;
            max-width: 150px;
            height: $square-border;
        }
    }
    .list-inline
    {
        .text
        {
            font-family: $font-family-cbs-bold;
            &::before
            {
                content: '\2012 \00A0';
            }
        }
    }
}

//Find us Here
.find-us-here
{
    height: 500px;
    .social
    {
        .item
        {
            svg
            {
                width: 35px;
                height: 35px;
            }
        }
    }
}

//Resources & Research
.resources-research
{
    height: 600px;
    .square
    {
        z-index: -1;
        &.left
        {
            top: -25%;
            left: -25%;

            .side-b,
            .side-l,
            .side-t,
            .side-rt,
            .side-rb
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $brand-primary;
            }

            .side-l
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }

            .side-rt
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 50px;
            }

            .side-rb
            {
                top: calc( ( #{$square-dimension} - 75px )  );
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 75px;;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
        &.right
        {
            top: -25%;
            right: -25%;

            .side-b,
            .side-lb,
            .side-lt,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $brand-primary;
            }

            .side-lb
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 50px;
            }

            .side-lt
            {
                bottom: calc( ( #{$square-dimension} - 50px )  );
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 50px;;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }

            .side-r
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
    }
}

//Portfolio
.portfolio
{
    &.mentors
    {
        height: 700px;
    }
    &.partners
    {
        height: 500px;
    }

    .item
    {
        img
        {
            width: 80%;
        }
    }
    .switcher
    {
        .btn
        {
            width: 175px;
            padding-right: 0;
            padding-left: 0;
        }
        .tab-pane
        {
            position: relative;
        }
        aside
        {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 100vw;

            width: 100vw;

            text-align: left;

            border: 10px solid $brand-primary;
            background-color: $brand-secondary;

            .brand
            {
                position: absolute;
                top: -55px;

                width: 190px;
                height: 80px;

                background-color: $brand-secondary;
            }
            .info
            {
                width: 500px;
            }
        }
    }
}

//profile
.profile
{
    .square-portrait
    {
        z-index: -1;
        &.right
        {
            top: -30px;
            right: -30px;
            .side-l
            {
                top: 0;
                left: 0;

                width: $square-portrait-border;
                height: 40px;
            }

            .side-t
            {
                top: 0;
                left: 0;

                width: $square-portrait-dimension;
                height: $square-portrait-border;
            }

            .side-r
            {
                top: 0;
                right: 0;

                width: $square-portrait-border;
                height: $square-portrait-dimension;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                width: 40px;
                height: $square-portrait-border;
            }
        }
        &.left
        {
            top: -30px;
            left: -30px;
            .side-l
            {
                bottom: 0;
                left: 0;

                width: $square-portrait-border;
                height: $square-portrait-dimension;
            }

            .side-t
            {
                top: 0;
                left: 0;

                width: $square-portrait-dimension;
                height: $square-portrait-border;
            }

            .side-r
            {
                top: 0;
                right: 0;

                width: $square-portrait-border;
                height: 40px;
            }

            .side-b
            {
                bottom: 0;
                left: 0;

                width: 40px;
                height: $square-portrait-border;
            }
        }
    }
    .info
    {
        .title
        {
            span
            {
                font-family: $font-family-cbs-bold;
                font-size: 1.250em;
            }
            p
            {
                font-size: 1.250em;
                line-height: 110%;
            }
        }
        .contact
        {
            font-size: 1.250em;
            line-height: 120%;
        }
    }
    .portrait
    {
        .img-container
        {
            position: relative;

            width: 196px;
            height: 262px;
        }
    }
}

//the team
.the-team
{
    .ceo
    {
        .info
        {
            .title
            {
                h4
                {
                    color: $brand-primary;
                }
            }
        }
        .profile
        {
            .portrait
            {
                .square-portrait
                {
                    .side-b,
                    .side-t,
                    .side-l,
                    .side-r
                    {
                        background-color: $brand-primary;
                    }
                }
            }
        }
    }
    .proof-and-ideation
    {
        h5
        {
            color: $brand-tertiary;
        }
        .info
        {
            .title
            {
                h4
                {
                    color: $brand-tertiary;
                }
            }
        }
        .profile
        {
            .portrait
            {
                .square-portrait
                {
                    .side-b,
                    .side-t,
                    .side-l,
                    .side-r
                    {
                        background-color: $brand-tertiary;
                    }
                }
            }
        }
    }
    .international-growth
    {
        h5
        {
            color: $brand-quaternary;
        }
        .info
        {
            .title
            {
                h4
                {
                    color: $brand-quaternary;
                }
            }
        }
        .profile
        {
            .portrait
            {
                .square-portrait
                {
                    .side-b,
                    .side-t,
                    .side-l,
                    .side-r
                    {
                        background-color: $brand-quaternary;
                    }
                }
            }
        }
    }
    .communication-and-bussiness-relations
    {
        h5
        {
            color: $brand-quinary;
        }
        .info
        {
            .title
            {
                h4
                {
                    color: $brand-quinary;
                }
            }
        }
        .profile
        {
            .portrait
            {
                .square-portrait
                {
                    .side-b,
                    .side-t,
                    .side-l,
                    .side-r
                    {
                        background-color: $brand-quinary;
                    }
                }
            }
        }
    }
}

//Testimonials
.testimonials
{
    .item:nth-child(1)
    {
        top: 80px;
    }
    .item:nth-child(2)
    {
        bottom: 80px;
    }
}
//Video archive
.video-archive
{
    height: 600px;
}
