// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

//<<<<<<< HEAD
@font-face {
   font-family: CBSNEW;
   src: url(assets/fonts/CBS-typografier/CBSNEWBOLD.tff);
}

$theme-colors: (
  primary: green
);

$nav-height: 0.5em;
$nav-color: #496093;
$nav-background: #496093;

/*
NAVBAR
  */

.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}

nav {
  padding-left:100px;
  color: $nav-color;
  background: $nav-background;
  font-weight: bold;
  letter-spacing: 0.10em;
}

nav ul {
  text-align: center;
  margin: 0;
  margin-left: 60px;
}

nav ul li {
 display: inline-block;
 padding: 0 1em;
 line-height: 0.5em;
}

nav ul li:hover {
  color: lightblue;
}
// =======
//fonts
$font-family-sans-serif: 'CBS', 'Helvetica Neue', Arial, sans-serif;

//color
$blue: #496093;
$red: #cd4847;
$green: #5bad6f;
$orange: #e1948d;
$white: #fff;
$black: #000;
$brand-primary: $blue;
$link-color: $blue;
$body-bg: $white;

//navbar
$navbar-inverse-color: $white;
$navbar-inverse-hover-color: rgba($white,.8);
$navbar-inverse-active-color: rgba($white,.8);
// >>>>>>> eb0fa7c5976b865b193f071a2a227887ba927e17
