// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$theme-colors: (
  primary: green
);
$nav-height: 0.5em;
$nav-color: #bbb;
$nav-background: #2e2e2e;

/*
NAVBAR
  */

.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}

nav {
  width: 100%;
  color: $nav-color;
  background: $nav-background;
  font-weight: bold;
  letter-spacing: 0.010em;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
 display: inline-block;
 padding: 0 3em;
 line-height: 0.5em;
}

nav ul li:hover {
  color: lightblue;
}
