@media all and (min-width: map-get($grid-breakpoints, lg))
{
    //container
    .container
    {
        padding-right: 75px;
        padding-left: 75px;
    }
    //nav
    nav
    {
        &.main
        {
            .container
            {
                padding-right: 75px;
                padding-left: 75px;
            }
        }
        &.secondary
        {
            font-size: 1rem;
            .checkbox
            {
                p
                {
                    line-height: 16px;
                    &::before
                    {
                        border-width: 2px;
                    }
                }
            }
        }
    }
    //hero
    .hero
    {
        font-size: 1.2em;
    }
    //status
    .status
    {
        font-size: 1rem;

        .text-col
        {
            position: inherit;

            padding: 2em 2em 2em 6em;

            background: none;
            p
            {
                font-family: 'CBS-bold', 'Helvetica Neue', Arial, sans-serif;
                font-size: 1.3em;

                color: $brand-primary;
            }
        }
        .container:nth-child(2)
        {
            width: 960px;
            margin: 0 75px;
        }
        .stats
        {
            margin-top: 6%;
            .stat
            {
                h2
                {
                    font-size: 6em;
                }
                p
                {
                    font-size: 1.4em;
                }
            }
        }
    }
    //programmes
    .programmes
    {
        font-size: 1rem;

        .partner
        {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    //quotations
    .quotations
    {
        font-size: .8rem;

        background-color: transparent;
        .container
        {
            width: 1250px;
            height: 30em;
        }
    }
    //partners
    .partners
    {
        font-size: 1rem;

        .partner
        {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    //about programs
    .about-programs
    {
        font-size: 1rem;
        .graphic
        {
            height: calc(100vh - 133px);
        }
        .text
        {
            height: calc(100vh - 133px);
            p
            {
                font-size: 1.2em;
            }
        }
    }
    //footer
    .footer
    {
        font-size: 1rem;

        height: 5.5em;
        ol
        {
            margin: 0 auto;
        }
        li
        {
            font-size: 1.2em;
        }
        .social
        {
            .item
            {
                svg
                {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}
