@media all and (max-width:353px)
{
    .square-title
    {
        padding-bottom: 15px;
        &.small
        {
            width: 80px;
        }
    }
    //Navs
    nav
    {
        &.secondary
        {
            font-size: .6rem;
            .checkbox
            {
                p
                {
                    font-size: .53em;

                    padding-left: 2.2em;
                    &::before
                    {
                        top: 0;
                        left: 0;

                        width: 1.8em;
                        height: 1.8em;
                    }
                }
                &.active p:after,
                &.active-h p:after,
                p:after
                {
                    top: 0;
                    left: 0;

                    width: 1.8em;
                    height: 1.8em;
                }
            }
        }
    }
    //status
    .status
    {
        font-size: .6rem;
    }
    //status
    .stats
    {
        margin-top: 8%!important;

        .stat
        {
            margin: 2px 0 !important;
            h2
            {
                font-size: 4.4em!important;
            }
            p
            {
                font-size: 1.6em!important;
            }
        }
    }
    //quotations
    .quotations
    {
        .blockquote
        {
            padding: .7em 0;
        }
    }
    //about programmes
    .about-programmes
    {
        .text
        {
            p
            {
                font-size: 1.4em;
            }
        }
    }
    //proof program
    .proof-program
    {
        font-size: .6rem;
    }
    //accelerator program
    .accelerator-program
    {
        font-size: .6rem;
    }
    //Match up
    .match-up
    {
        font-size: .6rem;
    }
    //Inteernship With Ects
    .internship-with-ects
    {
        font-size: .6rem;
    }
    //footer
    .footer
    {
        height: 9em;
        li
        {
            font-size: .9em;
        }
        .social
        {
            padding: 10px 0;
        }
    }
}
