//fonts
@include font-face('CBS-regular', 'CBS_NEW_REGULAR', 'CBS-typografier');
@include font-face('CBS-bold', 'CBS_NEW_BOLD', 'CBS-typografier');

//typography
h1,
h2,
h3,
h4,
h5,
h6,
a,
button
{
    text-transform: uppercase;
}
.lead
{
    font-family: $font-family-cbs-bold ;
}

//utilities
.blockquote
{
    font-family: $font-family-cbs-bold;

    quotes: '“' '”' '‘' '’';

    color: $brand-secondary;
    border: none;
    .before
    {
        &::before
        {
            font-size: 1em;
            line-height: .2em;

            margin-right: .1em;

            content: open-quote;
        }
    }
    .after
    {
        &::after
        {
            font-size: 2.5em;
            line-height: .1em;

            content: close-quote;
            vertical-align: -.35em;
        }
    }
    footer
    {
        font-family: $font-family-cbs-regular;
        font-size: $font-size-lg;
        &::before
        {
            content: '\2011 \00A0';
        }
    }
}

.btn-primary
{
    font-family: $buttons-font-family;
    font-size: $font-size-lg;

    position: relative;

    display: inline-block;

    cursor: pointer;

    color: $brand-secondary;
    background-color: $brand-primary;
    &.apply
    {
        color: $brand-primary!important;
        background-color: $brand-secondary;
    }
    &::before,
    &::after
    {
        position: absolute;
        z-index: -1;

        width: calc(100% + 8px);
        height: calc(100% + 8px);

        content: '';
        -webkit-transition: $transition-base;
                transition: $transition-base;;
    }
    &.apply::before,
    &.apply::after
    {
        width: 100%;
        height: 100%;
    }
    &::before
    {
        top: -12px;
        right: -12px;

        border: $border-width solid $brand-primary;
        background-color: $brand-secondary;
    }
    &.apply:before
    {
        border: $border-width solid $brand-secondary;
        background-color: $brand-primary;
    }
    &:hover
    {
        color: $brand-primary;
        border: $border-width solid $brand-primary;
        background-color: $brand-secondary;

        &::before
        {
            border: $border-width solid $brand-primary;
            background-color: $brand-primary;
        }
    }
    &.apply:hover
    {
        color: $brand-secondary!important;
        border: $border-width solid $brand-secondary;
        background-color: $brand-primary;
        &::before
        {
            border: $border-width solid $brand-secondary;
            background-color: $brand-secondary;
        }
    }
}

//navbar
.navbar
{
    position: fixed;
    z-index: 1;
    top: 0;

    height: $navbar-height;
    a
    {
        font-size: $font-size-lg;
    }
}

//sub navbar
.subnavbar
{
    z-index: 1;

    height: 75px;
    margin-top: 10px;
    a
    {
        font-size: $font-size-md;
    }
}

//status
.status
{
    p
    {
        color: $brand-primary;
    }
    .square
    {
        top: 30%;
        left: 0;

        .side-b,
        .side-l,
        .side-t,
        .side-r
        {
            position: absolute;

            width: 0;
            height: 0;

            background: transparent;
            background-color: $square-color-red;
        }

        .side-l
        {
            bottom: 0;
            left: 0;

            width: $square-border;
            min-height: 0;
            max-height: $square-dimension;
        }

        .side-t
        {
            top: 0;
            left: 0;

            min-width: 0;
            max-width: $square-dimension;
            height: $square-border;
        }


        .side-r
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: 160px;
        }

        .side-rr
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: 360px;
        }

        .side-b
        {
            right: calc( ( #{$square-dimension} - 160px )  );
            bottom: 0;

            min-width: 0;
            max-width: 160px;
            height: $square-border;
        }
    }
}

//quotations
.quotations
{
    .container
    {
        height: 380px;
    }
    .square
    {
        &.left
        {
            top: 45%;
            left: -10%;

            .side-b,
            .side-l,
            .side-t,
            .side-rt,
            .side-rb
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-green;
            }
            .side-l
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }


            .side-rt
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 40px;
            }

            .side-rb
            {
                top: calc( ( #{$square-dimension} - 200px )  );
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: 200px;;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
        &.right
        {
            top: -30%;
            right: -15%;

            .side-b,
            .side-lb,
            .side-lt,
            .side-t,
            .side-r
            {
                position: absolute;

                width: 0;
                height: 0;

                background: transparent;
                background-color: $square-color-orange;
            }

            .side-lb
            {
                bottom: 0;
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 70px;
            }

            .side-lt
            {
                bottom: calc( ( #{$square-dimension} - 170px )  );
                left: 0;

                width: $square-border;
                min-height: 0;
                max-height: 170px;;
            }

            .side-t
            {
                top: 0;
                left: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }


            .side-r
            {
                top: 0;
                right: 0;

                width: $square-border;
                min-height: 0;
                max-height: $square-dimension;
            }

            .side-b
            {
                right: 0;
                bottom: 0;

                min-width: 0;
                max-width: $square-dimension;
                height: $square-border;
            }
        }
    }
}

//partners
.partners
{
    height: 450px;
    .square
    {
        top: -25%;
        right: -9%;

        .side-b,
        .side-lt,
        .side-lb,
        .side-t,
        .side-r
        {
            position: absolute;

            width: 0;
            height: 0;

            background: transparent;
            background-color: $brand-primary;
        }

        .side-lt
        {
            bottom: calc( ( #{$square-dimension} - 110px )  );
            left: 0;

            width: $square-border;
            min-height: 0;
            max-height: 110px;;
        }

        .side-lb
        {
            bottom: 0;
            left: 0;

            width: $square-border;
            min-height: 0;
            max-height: 110px;
        }

        .side-t
        {
            top: 0;
            left: 0;

            min-width: 0;
            max-width: $square-dimension;
            height: $square-border;
        }


        .side-r
        {
            top: 0;
            right: 0;

            width: $square-border;
            min-height: 0;
            max-height: $square-dimension;
        }

        .side-b
        {
            right: 0;
            bottom: 0;

            min-width: 0;
            max-width: $square-dimension;
            height: $square-border;
        }
    }
}

//footer
.footer
{
    position: relative;
    bottom: 120px;
    height: 120px;
    li
    {
        font-size: $font-size-md;
    }
}

//square
.square
{
    position: absolute;

    width: $square-dimension;
    height: $square-dimension;

    background: $transparent;
}
