@mixin skew($side: right, $deg: -20deg, $right: -15px, $left: -15px, $width: 30px, $bg: #fff)
{
    position: relative;

    &:before
    {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;

        display: block;

        width: $width;

        content: '';
        -webkit-transform: skew($deg);
            -ms-transform: skew($deg);
                transform: skew($deg);

        background: $bg;

        @if $side == right
        {
            right: $right;
        }
        @else if $side == left
        {
            left: $left;
        }
    }
}
